// ---------------------------
// Helper classes
// ---------------------------

// Position
// ---------------------------
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

// Float
// ---------------------------
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Display Values
// -------------------------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// Aligning Elements
// -------------------------

.center {
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-align{
  padding:5.5rem;
}

.mobile-text-center {
  @media (max-width: 992px) {
    text-align: center;
  }
}

// Colors
// -------------------------

.white {
  &.white {
    color: #fff;
  }
}

.black {
  &.black {
    color: #000;
  }
}

.prime {
  &.prime {
    color: $primary;
  }
}

.second {
  &.second {
    color: $secondary;
  }
}

// Background Colors
// -------------------------

.bg-white {
  &.bg-white {
    background-color: #fff;
  }
}

.bg-black {
  &.bg-black {
    background-color: #000;
  }
}

.bg-prime {
  &.bg-prime {
    background-color: $primary;
  }
}

.bg-second {
  &.bg-second {
    background-color: $secondary;
  }
}

.bg-third {
  &.bg-third {
    background-color: $background;
  }
}

.bg-gray {
  &.bg-gray {
    background-color: $background;
  }
}

// Cursor
// -------------------------

.pointer {
  cursor: pointer;
}

// Margins

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-10 {
  margin-bottom: 10rem;
}